.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
  background: #aa0000;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0px;
  padding-right: 0px;
}
/* Custom page header */
.header {
  /*border-bottom: 0px solid @basecolortrim;
  margin-bottom: 0px; /*Formerly 10px*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 0px;
  /*Formerly 19px*/
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.myBgDiv {
  /*background: url("http://www.portlandmensrollerderby.com/images/logo_MRDA.svg") center center;*/
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("");
  background-position: center center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}
/* Custom page footer */
.footer {
  padding-top: 0px;
  /*Formerly 19px*/
  color: #ffffff;
  /*Formerly #777*/
  border-top: 0px solid #e5e5e5;
  background: #aa0000;
  font-size: x-small;
}
.container-narrow > hr {
  margin: 0px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.repeatedDivs {
  background-color: #ffdddd;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border-color: #660000;
  border-style: solid;
  border-width: 1px;
}
.repeatedDivsAlt {
  background-color: #cccccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border-color: #660000;
  border-style: solid;
  border-width: 1px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    /*max-width: 30px;*/
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
    /*Formerly 30px*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navbar > div > li {
  list-style-type: none;
}
.navbar {
  margin-bottom: 0px;
  background: #aa0000;
  font-color: white;
  border: none;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #aaa;
}
.menuactive {
  background-color: #ff9999;
}
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ff8888;
}
.fantasyLeagueMain {
  flex: 1;
  overflow-y: auto;
  background-color: #f7eeee;
}
.flexParent {
  display: flex;
  flex-direction: column;
}
.flexChild {
  flex: auto;
}
.flexParentRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.leaguePage {
  display: inline-block;
  /*width:74%;*/
  vertical-align: top;
  /*height:100%;*/
  background: #a29999;
  position: relative;
  overflow-y: auto;
  overflow-x: none;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-x: hidden;
}
.leaguePageNoChat {
  display: inline-block;
  /*width:100%;*/
  vertical-align: top;
  /*height:100%;*/
  background: #a29999;
  position: relative;
  overflow-y: auto;
  overflow-x: none;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-x: hidden;
}
.leagueChat {
  /*display:inline-block;
  vertical-align: top;
  height:100%;
  width: ~"calc(25% - 0.0px)";
  overflow-y:scroll;
  overflow-x:none;
  background-color:none;*/
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: none;
}
html,
body {
  height: 100%;
}
.mainViewContainer {
  overflow-y: auto;
  flex: 1;
  flex-direction: column;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
}
.wrapper {
  display: flex;
  /* use the flex model */
  height: 100%;
  flex-direction: column;
  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  -webkit-flex-direction: column;
  overflow-x: hidden;
}
.leagueContent {
  padding-top: 5px;
  /*height: ~"calc(100% - 40px)";*/
  /*display: table-row;
  height:100%;*/
}
.leagueCommonContent {
  padding: 10px;
  /*height: 100%;
  width: 100%;*/
  flex: 1;
  overflow-y: scroll;
  overflow-x: scroll;
}
ul.flNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #660000;
  color: white;
  white-space: nowrap;
}
ul.flNavar:before,
ul.flNavbar:after {
  content: "";
  display: table;
}
ul.flNavbar:after {
  clear: both;
}
.flNavbar > li {
  display: inline-block;
}
.flNavbar > li > a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
.flNavbar > li > a:hover {
  background-color: #111;
}
.flNavbar > a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flNavbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #aaaaaa;
  color: white;
}
.flNavbar > ul > a {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  background-color: #aaaaaa;
  text-align: center;
  color: white;
  text-decoration: none;
}
.flNavbar > ul > a:hover {
  background-color: #111;
}
.standardTable {
  border: 2px solid #999;
}
.genHeader {
  font-weight: bold;
}
.standardTable > th,
td {
  border: 2px solid #ffdfdf;
  padding: 2px;
}
a {
  color: #803333;
}
a:hover {
  color: #990000;
}
.leagueChat .message-wrap {
  position: relative;
  bottom: 0;
  padding: 0 15px 15px 0;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}
.leagueChat .message-form {
  position: relative;
  bottom: 0;
  padding: 0 15px 15px 0;
  width: 100%;
}
.leagueChat .member-presence {
  float: left;
  margin-right: 0px;
  height: calc(50% - 80px);
  position: relative;
  overflow: auto;
  width: 100%;
  border: 0px solid #ccc;
}
.userOnlineBullet {
  color: green;
}
.userOfflineBullet {
  color: red;
}
.userOnlineText {
  font-weight: bold;
}
.userOfflineText {
  font-style: italic;
}
span.timestamp {
  color: #ccc;
  font-size: x-small;
}
.newSquadPane {
  flex: 1;
  background-color: #bbbbbb;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: none;
  display: flex;
  flex-direction: column;
}
.upperSquadPane {
  height: calc(50% - 5px);
  background-color: #bbbbbb;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: scroll;
  width: 100%;
}
.paneSplit {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.lowerSquadPane {
  height: calc(50% - 5px);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 5px;
  padding-bottom: 5px;
  background-color: #bbbbbb;
  position: relative;
  overflow-y: hidden;
}
.fullSquadPane {
  height: calc(100% - 5px);
  background-color: #bbbbbb;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.leftHalfPane {
  /*width: ~"calc(300px - 5px)";*/
  /*height: ~"calc(100% - 0px)";*/
  float: left;
  margin-right: 5px;
  padding: 2px;
  overflow-y: scroll;
}
.rightHalfPane {
  /*width: ~"calc(100% - 300px - 5px)";*/
  flex: 1;
  /*height: ~"calc(100% - 0px)";*/
  float: left;
  margin-right: 5px;
  padding: 2px;
  overflow-y: scroll;
}
.dndTable {
  margin-top: 2px;
}
.genHeader {
  font-weight: bold;
}
table.dndTable > tbody > tr > td {
  /*border: 2px solid multiply(#600,@basecolormain);
  background: multiply(#900,@basecolormain);
  color: white;*/
  border: 2px solid #d5aaaa;
  background: #e6cccc;
  color: black;
  padding: 2px;
}
select.dndrop {
  /*color: multiply(#900,@basecolormain);*/
  color: black;
}
.page-wrapper {
  width: calc(75% - 0px);
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  margin-bottom: 50px;
}
.page-wrapper .logo-img {
  margin-top: -10px;
}
ul.mainNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #aa0000;
  color: white;
  white-space: nowrap;
}
ul.mainNavar:before,
ul.mainNavbar:after {
  content: "";
  display: table;
}
ul.mainNavbar:after {
  clear: both;
}
.mainNavbar > li {
  display: inline-block;
}
.mainNavbar > li > a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
}
li.titleNav > a {
  font-size: 19px;
  line-height: 22px;
  padding-top: 8px;
  padding-bottom: 12px;
}
.mainNavbar > li > a:hover {
  background-color: #550000;
}
.mainNavbar > a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.mainNavbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #aaaaaa;
  color: white;
}
.mainNavbar > ul > a {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  background-color: #aaaaaa;
  text-align: center;
  color: white;
  text-decoration: none;
}
.mainNavbar > ul > a:hover {
  background-color: #111;
}
