<div class="paneSplit">
	<div class="leftHalfPane">
		<div style="background:red;width:100%;padding:2px" ng-show="fantasyLeagueCtrl.amCommissioner &&  squadCtrl.detailedStatus()!='forming'">
			<b>Admin controls</b><br>
			<font style="color:green" ng-show="squadCtrl.autoDraftStatus"><b>{{squadCtrl.autoDraftStatus}}</b><br></font>
			<div ng-show="fantasyLeagueCtrl.whichDraftsNeeded[squadCtrl.tourId]=='asAdmin'">
				<input type="button" ng-click="squadCtrl.autoDraft()" value="Auto-draft for this league." ng-disabled="!squadCtrl.autoDraftClickable"><br>
				<font style="font-size:x-small">Drafts available for {{fantasyLeagueCtrl.leagueMembers[squadCtrl.draftOrder[0]].username.$value}}</font>
			</div>
			<div ng-show="fantasyLeagueCtrl.whichDraftsNeeded[squadCtrl.tourId]!='asAdmin'">
				<input type="button" value="Skip {{fantasyLeagueCtrl.leagueMembers[squadCtrl.draftOrder[0]].username.$value}}" ng-click="squadCtrl.skipDraft()"><br>
				<font style="font-size:x-small">No selections available for {{fantasyLeagueCtrl.leagueMembers[squadCtrl.draftOrder[0]].username.$value}}</font>
			</div>

		</div>
		<b>Draft order</b>
		<table>
			<tr ng-repeat="(key,entry) in squadCtrl.draftOrder" ng-style="{'color':(key==0?'green':(key==1?'blue':'black'))}">
				<td>
					{{key-0+1}}
				</td>
				<td>
					{{fantasyLeagueCtrl.leagueMembers[entry].username.$value}}
				</td>
			</tr>
		</table>
	</div>
	<div class="rightHalfPane" data-ng-include="'fantasyLeagues/leagueViews/squadViews/squadsDrafted.html'">
	</div>
</div>