<div class="paneSplit">
	<div class="leftHalfPane">
		<b ng-style="{
			'background':squadCtrl.currentSelectionPrime?'none':'green',
			'font-size':squadCtrl.currentSelectionPrime?'normal':'medium'
			}">
			Preferred draft order selection
		</b>
		<br>
		<div ng-hide="squadCtrl.currentSelectionPrime" style="max-width:280px">
			Here you can create a preferred drafting order, from which an auto-draft will be conducted.
		</div>
		<!--This is the functionality to allow copying from existing fantasy leagues-->
		<div ng-show="!squadCtrl.currentSelection.length">
			Either copy from an existing league:<br>
			<select ng-model="squadCtrl.sourceLeague">
				<option ng-repeat="(leagueKey,leagueVal) in competitionCtrl.myLeagues" ng-if="leagueKey!=fantasyLeagueCtrl.lid" value="{{leagueKey}}">
					{{leagueVal}}
				</option>
			</select>
			<input type="button" value="Copy" ng-click="squadCtrl.copyFromExisting()"><br>
			Or select a team from which to draft a player:<br>
		</div>
		<div ng-show="squadCtrl.currentSelection.length">
			Select a team:
		</div>

		<!--Code for selecting a team and linking to Rinxter/FTS-->
		<select ng-model="squadCtrl.currentSelectionPrime" ng-change="squadCtrl.switchTeamSelect()">
			<option ng-repeat="(key,entry) in competitionCtrl.tournamentData[squadCtrl.tourId].teamList | orderObjectBy:'seed'" value="{{entry.$filtKey}}">
				{{entry.leagueName}}
			</option>
			<option value="other">Select other...</option>
		</select>

		<!--Code for teams not listed as being in this tournament by default-->
		<br ng-show="squadCtrl.currentSelectionPrime=='other'">
		<select ng-model="squadCtrl.currectSelectionExtra" 
				ng-show="squadCtrl.currentSelectionPrime=='other'" 
				ng-change="squadCtrl.switchTeamSelect()">
			<option ng-repeat="(extraKey,extraEntry) in squadCtrl.extraTeams" value="{{extraKey}}">
				{{extraEntry.leagueName}}
			</option>
		</select>

		<!--<b>{{squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName}}</b>-->
		<!--And links for either as appropriate-->
		<a href="{{'http://flattrackstats.com/search/'+squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName}}"
			ng-show="squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName"
			target="_blank"
		>
			<img src="images/fts-logo.png" style="height:15px"></img>
		</a>
		<a href="{{'https://stats-repo.wftda.com/index.jsp?q='+squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName}}"
			ng-show="squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName"
			target="_blank"
		>
			<img src="images/RinxterLett.png" style="height:15px"></img>
		</a>
		<a href="" 
			ng-show="squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName"
			ui-sref="competitions.teamView({teamId:squadCtrl.currentSelectionTeam})"
			target="_blank"
			style="font-size:x-small;color:white">stats</a>
		<br>
		<div ng-show="squadCtrl.teams[squadCtrl.currentSelectionTeam].leagueName" style="max-width:200px">
			Please click and drag a player to the table to the right:
		</div>

		<!--And the table of players-->
		<table class="dndTable">
			<tr ng-repeat="(key,player) in squadCtrl.teams[squadCtrl.currentSelectionTeam].teamPlayers">

				<td x-lvl-draggable="true"
					whatSource="teamData"
					whatKey="{{key}}"
					ng-hide="squadCtrl.draftedPlayers[player.id]"
				>
					{{player.name}} - #{{player.number}} 
				</td>
				<td
					ng-hide="squadCtrl.draftedPlayers[player.id]">
					<a 
						href="{{'https://stats-repo.wftda.com/index.jsp?q='+player.name}}"
						target="_blank"
					>
						<img src="images/RinxterLett.png" style="height:15px"></img>
					</a>
				</td>
				<td
					ng-hide="squadCtrl.draftedPlayers[player.id]">
					<a href="" target="_blank" ui-sref="competitions.player({pid:player.id})" style="font-size:x-small">stats</img></a>
				</td>

				<td x-lvl-draggable="true"
					whatSource="teamData"
					whatKey="{{key}}"
					ng-show="squadCtrl.draftedPlayers[player.id] && squadCtrl.draftedPlayers[player.id].draftedBy==competitionCtrl.uid"
					style="background:green;color:white"
				>
					{{player.name}} - #{{player.number}}
				</td>
				<td
					ng-show="squadCtrl.draftedPlayers[player.id] && squadCtrl.draftedPlayers[player.id].draftedBy==competitionCtrl.uid"
					style="background:green;color:white"
					>
					<a href="{{'https://stats-repo.wftda.com/index.jsp?q='+player.name}}"><img src="images/RinxterLett.png" style="height:15px"></img></a>
				</td>
				<td
					ng-show="squadCtrl.draftedPlayers[player.id] && squadCtrl.draftedPlayers[player.id].draftedBy==competitionCtrl.uid"
					style="background:green;color:white"
					>
					<a href="" target="_blank" ui-sref="competitions.player({pid:player.id})" style="font-size:x-small;color:white">stats</img></a>
				</td>

				<td x-lvl-draggable="true"
					whatSource="teamData"
					whatKey="{{key}}"
					ng-show="squadCtrl.draftedPlayers[player.id] && squadCtrl.draftedPlayers[player.id].draftedBy!=competitionCtrl.uid"
					style="background:red;color:white"
				>
					{{player.name}} - #{{player.number}}
				</td>
				<td
					ng-show="squadCtrl.draftedPlayers[player.id] && squadCtrl.draftedPlayers[player.id].draftedBy!=competitionCtrl.uid"
					style="background:red;color:white"
					>
					<a target="_blank" href="{{'https://stats-repo.wftda.com/index.jsp?q='+player.name}}"><img src="images/RinxterLett.png" style="height:15px"></img></a>
				</td>
				<td
					ng-show="squadCtrl.draftedPlayers[player.id] && squadCtrl.draftedPlayers[player.id].draftedBy!=competitionCtrl.uid"
					style="background:red;color:white"
					>
					<a href="" target="_blank" ui-sref="competitions.player({pid:player.id})" style="font-size:x-small;color:white">stats</img></a>
				</td>

			</tr>
		</table>
	</div>

	<div class="rightHalfPane">
		<b>Current selection</b> <font style="font-size:x-small;color:grey">all changes autosaved</font><br>

		<!--And this is the dropping interface and its controls:-->
		<div ng-show="squadCtrl.pastSelections.length">
			<input type="button" value="Undo" ng-click="squadCtrl.undo()" >&nbsp;
			<br>
		</div>

		<div ng-show="squadCtrl.selectedPlayers">
			<font
				ng-style="{'color':(squadCtrl.selectedJammers<squadCtrl.maxJammers?'red':'green')}"
			>Jammers selected: {{squadCtrl.selectedJammers}} of {{squadCtrl.maxJammers}}</font>
				<font style="font-size:x-small;color:grey">recommended</font><br>
			<font 
				ng-style="{'color':(squadCtrl.selectedDTs<squadCtrl.maxDTs?'red':'green')}"
			>Double threats selected: {{squadCtrl.selectedDTs}} of {{squadCtrl.maxDTs}}</font><br>
			<font 
				ng-style="{'color':(squadCtrl.selectedBlockers<squadCtrl.maxBlockers?'red':'green')}"
			>Blockers selected: {{squadCtrl.selectedBlockers}} of {{squadCtrl.maxBlockers}}</font>
		</div>
		<table  class="dndTable">
			<tr ng-repeat="(key,value) in squadCtrl.currentSelection"
				x-lvl-draggable='true'
				x-lvl-drop-target="true"
				x-on-drop="squadCtrl.dropped(dragEl, dropEl)"
				whatSource="selectionData"
				whatKey="{{key}}"
			>
				<td ng-hide="squadCtrl.draftedPlayers[value.id]">
					{{key+1}}
				</td>
				<td ng-hide="squadCtrl.draftedPlayers[value.id]">
					{{value.name}} #{{value.number}}
				</td>

				<td ng-show="squadCtrl.draftedPlayers[value.id] && squadCtrl.draftedPlayers[value.id].draftedBy==competitionCtrl.uid"
					style="background:green;color:white">
					{{key+1}}
				</td>
				<td ng-show="squadCtrl.draftedPlayers[value.id] && squadCtrl.draftedPlayers[value.id].draftedBy==competitionCtrl.uid"
					style="background:green;color:white">
					{{value.name}} #{{value.number}}
				</td>

				<td ng-show="squadCtrl.draftedPlayers[value.id] && squadCtrl.draftedPlayers[value.id].draftedBy!=competitionCtrl.uid"
					style="background:red;color:white">
					{{key+1}}
				</td>
				<td ng-show="squadCtrl.draftedPlayers[value.id] && squadCtrl.draftedPlayers[value.id].draftedBy!=competitionCtrl.uid"
					style="background:red;color:white">
					{{value.name}} #{{value.number}}
				</td>

				<td>
					<select ng-model="squadCtrl.currentSelection[key].position" class="dndrop" ng-change="squadCtrl.updatePosition()">
						<option value="jammer">
							Jammer
						</option>
						<option value="doubleThreat">
							Double Threat
						</option>
						<option value="blocker">
							Blocker
						</option>
					</select>
				</td>
				<td>
					<a href="" ng-click="squadCtrl.deleteSelectionEntry(key)"><img src="images/delete.png" style="width:20px"></img></a>
				</td>
			</tr>
			<tr x-lvl-draggable='true'
				x-lvl-drop-target="true"
				x-on-drop="squadCtrl.dropped(dragEl, dropEl)"
				whatSource="selectionData"
				whatKey="-1"
				ng-show="squadCtrl.currentSelection.length"
			>
				<td >
					
				</td>
				<td>
					Drag and drop players here...
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
			<tr x-lvl-draggable='true'
				x-lvl-drop-target="true"
				x-on-drop="squadCtrl.dropped(dragEl, dropEl)"
				whatSource="selectionData"
				whatKey="-1"
				ng-hide="squadCtrl.currentSelection.length"
			>
				<td >
					Drag and drop players here...
				</td>
			</tr>
		</table>
	</div>
</div>