<div class="navbar navbar-default" role="navigation">
        <div class="container">

          <a class="navbar-brand" ng-hide="indexCtrl.nameToShow" href="" data-toggle="dropdown">Fantasy Roller Derby <b class="caret"></b></a>
          <a class="navbar-brand" ng-show="indexCtrl.nameToShow" href="" data-toggle="dropdown">FRD: {{ indexCtrl.nameToShow.$value }} <b class="caret"></b></a>
          <ul class="dropdown-menu navbar-default">
            <li><a href="" ng-click="indexCtrl.goToCompo('')">Home</a></li>
            <li ng-repeat="(key,value) in indexCtrl.fullSet">
              <a href="" ng-click="indexCtrl.goToCompo(key)">{{value}}</a>
            </li>
          </ul>

          <ul class="nav navbar-nav">

            <li ng-class="{menuactive: indexCtrl.activeEntry=='frontPage'}" ng-show="indexCtrl.inCompetition"><a href="" ui-sref="competitions.frontPage">Competition info</a></li>

            <li class="dropdown derbyNavbar" ng-show="indexCtrl.inCompetition">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span>Fantasy Leagues</span><b class="caret"></b>
              </a>
              <ul class="dropdown-menu derbyNavbar">
                <li><a href="" ui-sref="competitions.fantasyLeagues.summary({lid:13})">Testing league</a></li>
                <li><a href="" ui-sref="competitions.joinLeague">Join a league</a></li>
              </ul>
            </li>

            <li ng-class="{menuactive: indexCtrl.activeEntry=='about'}"><a ng-href="#!/about">About FRD</a></li>

            <li class="dropdown derbyNavbar">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span>Backend</span><b class="caret"></b>
              </a>
              <ul class="dropdown-menu derbyNavbar">
                <li><a href="" ui-sref="wftdaPopulate">WFTDA Parser</a></li>        
                <li><a href="" ui-sref="mrdaPopulate">MRDA Parser</a></li>
              </ul>
            </li>

          </ul>


          <li style="float:right" class="dropdown derbyNavbar">
            <a ng-hide="authData" class="navbar-brand" href="" ng-click="indexCtrl.login()">Dive in!</a>
            <a ng-show="authData && !rtprofile" class="navbar-brand" href="" ng-click="indexCtrl.logout()">Logout</a>
            <a ng-show="rtprofile" class="navbar-brand" href="" data-toggle="dropdown">{{rtprofile.displayName}} <b class="caret"></b></a>
            <ul class="dropdown-menu navbar-default">
              <li><a href="#!/profile">Edit Profile</a></li>
              <li><a href="" ng-click="indexCtrl.logout()">Logout</a></li>
            </ul>
          </li>
         


        </div>
      </div>