<div class="fantasyLeagueMain" style="padding:10px;width:100%">
	<h1>Joining a league</h1>

	Here you can join a league.

	<b>Please enter a team name:</b><br>
	<input type="text" ng-model="joinLeagueCtrl.desiredTeamName" ng-style="{'border':(joinLeagueCtrl.nameError?'2px solid red':'')}"><br>
	<span ng-show="joinLeagueCtrl.nameError" style="color:red"><b>{{joinLeagueCtrl.nameError}}</b></span><p />

	<div style="width:100%;float:left;margin-bottom:10px;margin-top:20px">
		<div style="float:left">Filter by league name:<br><input ng-model="search.name"> </div>
		<div style="float:left">Filter by Commissioner name:<br><input ng-model="search.commissionerName"> </div>
	</div>
	<table class="standardTable">
		<tr>
			<td class="genHeader">League name</td>
			<td class="genHeader">Commissioner</td>
			<td class="genHeader">Accepting new members?</td>
			<td class="genHeader">Requires approval?</td>
			<td class="genHeader">Join</td>
		</tr>
		<!--<tr ng-repeat="(key,leagueData) in joinLeagueCtrl.allData" ng-if="leagueData.visibility=='visible'">  -->
		<tr ng-repeat="(key,leagueData) in joinLeagueCtrl.allDataArray | filter: {visible:true}:strict | filter:search">
			<td>
				{{leagueData.name}}
			</td>
			<td>
				{{leagueData.commissionerName}}
			</td>
			<td>
				<span ng-show="leagueData.status=='forming'">Yes</span>
				<span ng-hide="leagueData.status=='forming'">No</span>
			</td>
			<td>
				<span ng-show="leagueData.isOpen">No</span>
				<span ng-hide="leagueData.isOpen">Yes</span>
			</td>
			<td>
				<input type="button" value="Join" ng-show="joinLeagueCtrl.joinStatus(leagueData)=='canJoin'" ng-click="joinLeagueCtrl.join(leagueData.key,true,leagueData.name)">

				<input type="button" value="Request to join" ng-show="joinLeagueCtrl.joinStatus(leagueData)=='canRequest'" ng-click="joinLeagueCtrl.join(leagueData.key,false,leagueData.name)">

				<span ng-show="joinLeagueCtrl.joinStatus(leagueData)=='commissioner'">You are the commissioner of this league</span>

				<span ng-show="joinLeagueCtrl.joinStatus(leagueData)=='member'">You are already a member of this league</span>

				<span ng-show="joinLeagueCtrl.joinStatus(leagueData)=='rejected'">Membership request denied</span>

				<span ng-show="joinLeagueCtrl.joinStatus(leagueData)=='requested'">You have requested to join this league.</span>

				<span ng-show="joinLeagueCtrl.joinStatus(leagueData)=='drafting'">This league is no longer on the formation phase.</span>
			</td>
		</tr>
	</table>


</div>