<div class="fantasyLeagueMain" style="padding:10px">
	<h1>Create a league</h1>
	Here you can create a league.

	<h3>League name</h3>
	Select a name for your league:<br>
	<input type="text" size="50" ng-model="createLeagueCtrl.newLeague.uniData.name">

	<h3>Team name</h3>
	Select a name for your fantasy team within the league:<br>
	<input type="text" size="50" ng-model="createLeagueCtrl.newLeague.fantasyTeams[competitionCtrl.profile.$id].name">

	<h3>League options</h3>
	These can all be changed later.<br>
	<input type="checkbox" data-ng-model="createLeagueCtrl.newLeague.uniData.visible">
		Make my league visible to the public.<br>
	<input type="checkbox" data-ng-model="createLeagueCtrl.newLeague.uniData.isOpen">
		Allow users to join league without my validation.<br>

	<h3>Tournament options</h3>
	Which tournaments do you want to draft for?<br>
	<span ng-repeat="(key,tournament) in createLeagueCtrl.newLeague.tournaments">
		<input type="checkbox" ng-model="createLeagueCtrl.newLeague.tournaments[key]"> {{createLeagueCtrl.tournamentInfo[key].name}}<br>
	</span><p />

	<input type="button" value="Create League" ng-click="createLeagueCtrl.createLeague()"><br>
	<span style="color:red">{{createLeagueCtrl.errorMessage}}</span>


</div>