<div class="page-wrapper">
	<div class="page-header">
		<h1>
			{{indexCtrl.tourData[teamListCtrl.teamName].name}}
			<span ng-show="!teamListCtrl.teamName">All 
				<span ng-hide="teamListCtrl.compName">{{indexCtrl.nameToShow.$value}}</span>
				<span ng-show="teamListCtrl.compName">{{teamListCtrl.compName}}</span>
			 teams</span>
		</h1>
	</div>

	<span ng-repeat="(key,team) in teamListCtrl.teamList">
		<a href="" ui-sref="competitions.teamView({teamId:key})">{{team.leagueName | capitalise}}<span ng-show="team.teamName!=team.leagueName"> - {{team.teamName | capitalise}}</span></a><br>
		<div ng-show="teamListCtrl.isAdmin && teamListCtrl.tournamentId=='allComp'">
			&nbsp;&nbsp;&nbsp;<input type="text" ng-model="teamListCtrl.teamList[key].rinxString"><input type="button" value="Save rinxter string" ng-click="teamListCtrl.saveString(key,'rinxString',teamListCtrl.teamList[key].rinxString)"><br>
			&nbsp;&nbsp;&nbsp;<input type="text" ng-model="teamListCtrl.teamList[key].ftsString"><input type="button" value="Save FTS string" ng-click="teamListCtrl.saveString(key,'ftsString',teamListCtrl.teamList[key].ftsString)"><br>
		</div>
	</span><p />

	<img ng-show="teamListCtrl.imgSrc" ng-src="{{teamListCtrl.imgSrc}}" style="width:100%"></img><p />

	<div ng-show="teamListCtrl.boutsData">
		<div ng-repeat="(boutKey,boutData) in teamListCtrl.boutsData track by $index" class="repeatedDivs">
			<b>Game {{$index+1}}</b><br>
			{{teamListCtrl.teamList[boutData.team1.teamId].leagueName}}
			<span ng-show="teamListCtrl.teamList[boutData.team1.teamId].leagueName!=teamListCtrl.teamList[boutData.team1.teamId].teamName"> - {{teamListCtrl.teamList[boutData.team1.teamId].teamName}}</span> <b>{{boutData.team1.score}}</b>
			vs <b>{{boutData.team2.score}}</b> 
			{{teamListCtrl.teamList[boutData.team2.teamId].leagueName}}
			<span ng-show="teamListCtrl.teamList[boutData.team2.teamId].leagueName!=teamListCtrl.teamList[boutData.team2.teamId].teamName"> - {{teamListCtrl.teamList[boutData.team2.teamId].teamName}}</span>
		</div>
	</div>
</div>