<div class="page-wrapper">

  <div class="page-header">
    <h1>View Users</h1>
  </div>

  <div ng-repeat="(userKey,userData) in viewUsersCtrl.users | orderObjectBy:'displayName':false" class="repeatedDivs" >
    <b>{{userKey+1}}: {{userData.displayName}}</b> [ {{userData.$filtKey}} ]<br>
    Name: {{userData.data.name}}<br>
    <img src="{{userData.data.display}}"></img>
    <div style="margin-left:10px">
    <span ng-repeat="(tournamentKey,tournamentMembership) in userData.leagueMembership">
      <span ng-repeat="(key,entry) in tournamentMembership.asCommissioner">
        <a href=""
          ui-sref="competitions.fantasyLeagues.summary({cid:tournamentKey,lid:key})">
          <font style="color:red">{{entry}}</font>
        </a><br>
      </span>
      <span ng-repeat="(key,entry) in tournamentMembership.asPlayer">
        <a href=""
          ui-sref="competitions.fantasyLeagues.summary({cid:tournamentKey,lid:key})">
          <font style="color:green">{{entry}}</font>
        </a><br>
      </span>
    </span>
    </div>
  </div>
</div>
