<div class="fantasyLeagueMain flexChild flexParentRow">

	<div ng-class="windowWidth>500?'leaguePage':'leaguePageNoChat'" style="flex:4;display:flex;flex-direction:column" window-dependent>
		<div data-ng-include="'fantasyLeagues/leagueViews/flMenu.html'" class="derbyNavbar"></div>
		<div class="leagueContent" ui-view style="flex:1;display:flex;flex-direction:column">
		</div>
	</div>

	<div class="leagueChat" ng-show="windowWidth>500" style="flex:1;display:flex;flex-direction:column;padding:5px">
		<div class="message-wrap" id="messagePane" scrolly="fantasyLeagueCtrl.checkScroll()" style="flex:auto">
			<div ng-repeat="message in fantasyLeagueCtrl.messages">
				<!--Normal message-->
				<span ng-show="message.type=='userMessage'">
					<b>{{ fantasyLeagueCtrl.leagueMembers[message.userId].username.$value }}:</b>
						{{message.message}}  
					<span class="timestamp">{{message.timestamp | date:'short'}}</span>
					<br>
				</span>
				<!--Drafting message-->
				<span ng-show="message.type=='draftMessage'">
					<b>{{ fantasyLeagueCtrl.leagueMembers[message.uid].username.$value }} drafted {{message.playerName}} as a {{message.position}}</b>
						{{message.message}}  
					<span class="timestamp">{{message.timestamp | date:'short'}}</span>
					<br>
				</span>
			</div>
		</div>

		<div>
			<form class="message-form" ng-submit="fantasyLeagueCtrl.sendMessage()">
				<input type=text class="form-control" ng-model="fantasyLeagueCtrl.message" placeholder="Type a message and hit enter...">
			</form>
		</div>

		<div>
			<b>Members</b>
			<div id="div3" style="border:3px solid #aaa;position:relative;width:100%">
				<span data-ng-repeat="(key,member) in fantasyLeagueCtrl.leagueMembers" ng-if="fantasyLeagueCtrl.leagueMembers[key].member==true" style="color:#999">
					<span
						ng-class="{
							userOnlineBullet: fantasyLeagueCtrl.leagueMembers[key].presence.$value,
							userOfflineBullet: !fantasyLeagueCtrl.leagueMembers[key].presence.$value
							}"
						>
						&nbsp;&#9679;
					</span>
					<span
						ng-class="{
							userOnlineText: fantasyLeagueCtrl.leagueMembers[key].presence.$value,
							userOfflineText: !fantasyLeagueCtrl.leagueMembers[key].presence.$value
						}"
						>
						{{fantasyLeagueCtrl.leagueMembers[key].username.$value}} 
					</span>
					<br>
				</span>
			</div>
		</div>
	</div>
</div>