<ul class="flNavbar">
	<li><a>{{fantasyLeagueCtrl.leagueData.uniData.name}}</a></li>

	<li>
		<a href="" 
			ui-sref='competitions.fantasyLeagues.summary({cid:competitionCtrl.cid,lid:fantasyLeagueCtrl.lid})'
			ng-class="{menuactive: indexCtrl.activeSubentry=='summary'}"
		>
			Summary
		</a>
	</li>

	<li class="dropdown" ng-show="competitionCtrl.keyData.type=='multi'">
		<a href="" 
			class="dropdown-toggle" 
			data-toggle="dropdown" 
			style="float:left"
			ng-class="{menuactive: indexCtrl.activeSubentry=='squads'}"
		>
			<span>
				<span ng-hide="fantasyLeaguesCtrl.draftNeeded" style="opacity:0">&#9679;</span>
				<span ng-show="fantasyLeaguesCtrl.draftNeeded" style="color:green;opacity:1">&#9679;</span>
				{{fantasyLeagueCtrl.leagueData.fantasyTeams[competitionCtrl.profile.$id].name}} squads
			</span><b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li data-ng-repeat="(key,squad) in fantasyLeagueCtrl.leagueData.tournaments" ng-if="squad">
				<a 
				ui-sref='competitions.fantasyLeagues.squads({sid:key})'
				>
					<span ng-hide="fantasyLeagueCtrl.whichDraftsNeeded[key]" style="opacity:0">&#9679;</span>
					<span ng-show="fantasyLeagueCtrl.whichDraftsNeeded[key]" style="color:green;opacity:1">&#9679;</span>
					{{ competitionCtrl.tournamentData[key].name }}
				</a>
			</li>
			
		</ul>
	</li>

	<li style="float:right" ng-show="competitionCtrl.profile.$id==fantasyLeagueCtrl.leagueData.uniData.Commissioner">
		<a href="" 
			ui-sref='competitions.fantasyLeagues.admin'
			ng-class="{menuactive: indexCtrl.activeSubentry=='admin'}"
		>
			Admin
		</a>
	</li>

</ul>