<div class="leagueCommonContent">

	<h1>League summary for {{fantasyLeagueCtrl.leagueData.uniData.name}}</h1>

	Welcome to <b>{{fantasyLeagueCtrl.leagueData.uniData.name}}</b>, a league set up by <b>{{fantasyLeagueCtrl.leagueMembers[fantasyLeagueCtrl.leagueData.uniData.Commissioner].username.$value}}</b>.<p />

		<span ng-show="fantasyLeagueCtrl.leagueData.uniData.status=='forming'">
			&nbsp;<font style="color:green;margin-left:40px"><b>forming</b></font> -> drafting -> complete<p />
		</span>
		<span ng-show="fantasyLeagueCtrl.leagueData.uniData.status=='drafting'">
			&nbsp;<font style="color:red;margin-left:40px">forming</font> -> <font style="color:green"><b>drafting</b></font> -> complete<p />
		</span><p />

	<div ng-show="fantasyLeagueCtrl.leagueData.uniData.status=='forming'">
		This league is currently <b>forming</b>!<p />

		You <b>can</b> produce <b>draft preference orders</b> using the <b>{{fantasyLeagueCtrl.leagueData.fantasyTeams[competitionCtrl.uid].name}} squads</b> dropdown menu above!

		The Commissioner ({{fantasyLeagueCtrl.leagueMembers[fantasyLeagueCtrl.leagueData.uniData.Commissioner].username.$value}}) can move the league onto the drafting phase at any point.
	</div>
	<div ng-show="fantasyLeagueCtrl.leagueData.uniData.status=='drafting'">
		This league is now <b>drafting</b>!<p />

		Check <b>squads</b> above to update your <b>draft preference selection</b>.<p />

		The draft is conducted <b>automatically</b> based on your <b>draft preference selection</b>.<p />

		If you have <b>no remaining</b> eligible draft options, you will be able to select a draft <b>directly</b>.

		Players may <b>no longer</b> be added to the league.
	</div><p />
	<center>
		<table class="standardTable">
			<tr>
				<td class="genHeader">Username</td>
				<td class="genHeader">Team name</td>
				<td ng-repeat="(tourKey,tourEntry) in fantasyLeagueCtrl.leagueData.tournaments" ng-if="tourEntry"  class="genHeader">
					{{competitionCtrl.tournamentData[tourKey].name}}
				</td>
				<td ng-show="fantasyLeagueCtrl.leagueData.fantasyTeams[competitionCtrl.uid].score" class="genHeader">
					Total score
				</td>
			</tr>
			<tr ng-repeat="(memberKey,memberData) in fantasyLeagueCtrl.acceptedMembers | orderObjectBy:'score':true">
				<td>{{memberData.username.$value}}</td>
				<td>{{fantasyLeagueCtrl.leagueData.fantasyTeams[memberData.$filtKey].name}}</td>
				<td ng-repeat="(tourKey,tourEntry) in fantasyLeagueCtrl.leagueData.tournaments" ng-if="tourEntry">
					<span ng-show="competitionCtrl.tournamentData[tourKey].state=='playing' || competitionCtrl.tournamentData[tourKey].state=='complete'">
						{{fantasyLeagueCtrl.leagueData.fantasyTeams[memberData.$filtKey][tourKey].score | number:1}}
					</span>
					<span ng-hide="competitionCtrl.tournamentData[tourKey].state=='playing' || competitionCtrl.tournamentData[tourKey].state=='complete'">
						Selected: {{fantasyLeagueCtrl.getSelected(memberData.$filtKey,tourKey)}}
						<br>
						Drafted: {{fantasyLeagueCtrl.getDrafted(memberData.$filtKey,tourKey)}}/5
					</span>
				</td>
				<td ng-show="fantasyLeagueCtrl.leagueData.fantasyTeams[competitionCtrl.uid].score">
					{{fantasyLeagueCtrl.leagueData.fantasyTeams[memberData.$filtKey].score | number:1}}
				</td>
			</tr>
		</table>
	</center>

</div>